.table-alignment {
  border: 1px solid black;
  margin: 15%;
  margin-top: 3%;
}

.table-padding {
  padding: 20px;
}

.heading-alignment {
  text-align: center;
}

.heading-font {
  font-size: 25px;
}
