<div class="table-alignment">
  <div class="row table-padding">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      Name
    </div>
    <div *ngIf='this.characterDetails' class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        {{this.characterDetails.name}}
    </div>
  </div>

  <div class="row table-padding ">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        Species
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <span *ngFor=' let species of this.speciesDetails; let x = index'>
          {{species.name}}<span *ngIf="this.speciesDetails.length > 1">, </span>
        </span>
    </div>
  </div>

  <div class="row table-padding">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          Space Ships
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <span *ngFor=' let ships of this.spaceShipsDetails; let i = index'>
            {{ships.name}}<span *ngIf="this.spaceShipsDetails.length > 1">,</span>
          </span>
    </div>
  </div>

  <div class="row table-padding ">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          Movies
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <span *ngFor=' let movies of this.moviesDetails'>
            {{movies.title}}<span *ngIf="this.spaceShipsDetails.length > 1">,</span>
          </span>
    </div>
  </div>




</div>
