<div>
<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableWidth">
      <ng-container matColumnDef="name" class="align-center">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell class="text-style" *matCellDef="let character"><a (click)="getId(character)"> {{character.name}} </a></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator style="float: left; padding-left: 25%" class="pagination" [length]="this.characters.length" [pageSize]="10"></mat-paginator>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
    <app-character-filter-container></app-character-filter-container>
  </div>
</div>
</div>

