.pagination {
  justify-content: flex-start !important;
}

.tableWidth {
  width: 80%;
}

.table-container {
  text-align: center;
}

.align-table {
  display: inline-block;
}

.align-center {
  text-align: center;
}

.text-style {
  color: blue;
  cursor: pointer;
  font-size: 16px;
}
